<h1> <%= @pic.title %> </h1>
</br>
<%= @pic.date %>
</br>
<%= @pic.description %>
</br>
<%= link_to "Edit", edit_pic_path(@pic) %> | <%= link_to "Delete", pic_path(@pic), method: :delete, data: {confirm: "Are you sure?"} %>
 | <%= link_to "Back", pics_path %>
